extends layout

block content
    .container(class="main")
      .col
        .heading
          h1 MIT Sigma Nu
        div
            table(class="table")
              thead
                tr
                  th(scope="col") route
                  th(scope="col") redirect 
              tbody
                each short in shorts
                  tr 
                    td /#{short.shortName}
                    td #{short.url}
        script.
          $(document).ready(function () {
            $("form#signOut").on("submit", function (e) {
              e.preventDefault();
              $.ajax({
                type: "delete",
                url: "/api/users/session",
              }).done(function (data) {
                location.reload(true);
              });
            });
          });

        form(method="post" id="signOut")
          input(type="submit", value="Sign Out")
              

                  

