html
  head
    style
      include ../styles/index.css
    title MIT Sigma Nu
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
        $.ajax({type: "GET",url: "/api/shorts", success: function(result){
          let html = '';
          for(let index in result) {
            let short = result[index];
            html+=`<div> ${index} : ${short.shortName}, ${short.url}</div>`
          }
        $("#div1").append(html);
      }});
      });
  body
    .container(class="main")
      div(class="col")
        h1 MIT Sigma Nu
        #div1
        
      
      
