doctype html
html
  head
    style
      include ../styles/index.css
      include ../styles/signIn.css
    title MIT Sigma Nu
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    script(src="http://code.jquery.com/jquery-3.1.0.min.js")
    //- script(src="../signOut.js")
  body
    block content
